<!DOCTYPE html>
<html>
<head>
   
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="../Scripts/angular.js"></script>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../AngularScripts/Home.js"></script>
</head>
<body ng-app="MyHome" class="container">
    <div ng-controller="MyHomeController">
        Search: <input type="text" placeholder="Search" ng-model="searchText" />
      <table class="table  table-striped table-hover table-bordered table-condensed table-responsive">
          <tbody>
              <tr class="active">
                  <td >First Name</td>
                  <td>Last Name</td>
                  <td>Date of Birth</td>
                  <td>Gender</td>
                  <td>Salary</td>
                  <td>Designation</td>
              </tr>
          </tbody>
          <tbody>
              <tr ng-repeat="employee in Employees | filter:searchText">
                  <td>{{employee.FirstName | uppercase}}</td>
                  <td>{{employee.LastName | uppercase}}</td>
                  <td>{{employee.DateofBirth | date:"dd/MM/yyyy"}}</td>
                  <td>{{employee.Gender | uppercase}}</td>
                  <td>{{employee.Salary | currency:"$"}}</td>
                  <td>{{employee.Designation | uppercase}}</td>
              </tr>
          </tbody>
      </table>
    </div>
</body>
</html>