<!DOCTYPE html>
<html>
<head>

    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="../Scripts/angular.js"></script>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../AngularScripts/Data.js"></script>    
    <script src="../AngularScripts/Home.js"></script>
    <script src="../AngularScripts/Filter.js"></script>
</head>
<body ng-app="MyHome" class="container">
    <div ng-controller="MyHomeController">
      View Style:  <select ng-model="TableData">
            <option value="TableView.html">Table View</option>
            <option value="ListView.html">List View</option>
        </select>
       <div ng-include="TableData"></div>
    </div>
</body>
</html>